<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
 <body>
 	<div class="content">
	  <ol contenteditable="" oninput=""> 
	   <li id="li_1" class="ul-li oop">Press enter</li> 
	  </ol> 
	  <div>
	  	<input name="inputTarget" type="text"/>
	  </div>
 	</div>
 	<div>
 		<button onclick="addli()">增加</button>
 		<button>删除</button>
 		<button>修改</button>
 	</div>
  <script type="text/javascript" src="../dist/observer.js"></script>
 </body>
</html>