<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>专席处理</title>
  <style type="text/css">
  	.chat{
  		width: 40%;float:left;
  		border-top-left-radius:10px;
		border-top-right-radius:10px;
  		border:1px solid;
  		background-color:rgb(245,245,245);
  		margin: 10px 45px;
  	}
  	.chat .head{
  	    background-color: rgb(23,144,237);
	    margin-top: 0;
	    border-top-left-radius:10px;
		border-top-right-radius:10px;
		height: 45px;
    	line-height: 45px;
	}
  </style> 
  <script type="text/javascript">  
	  var socket;   
	  var id  = "PC";
	  if(window.WebSocket){  
	      socket = new WebSocket("ws://localhost:7397");  
	      socket.onmessage = function(event){             
	            var data = JSON.parse(event.data);
            	document.querySelector("#name").innerText=data.sender
	            if(data.msgType=='img'){
	            	document.querySelector("img").src=data.uri;
	            	appendln(data.sender,"Img"); 
	            }else{
	            	appendln(data.sender,data.info); 
	            }
	      };  
	   
	      socket.onopen = function(event){  
	            login(); 
	      };  
	   
	      socket.onclose = function(event){  
	            appendln("WebSocket is closed");  
	      };  
	  }else{  
	        alert("WebSocket is not support");  
	  }  
	
	    
	  function appendln(sender,info) {  
	    var dev = document.getElementById('responseText');  
	    var chat = document.createElement('div');
	    var namespan = document.createElement('span');
	    namespan.innerText = sender+"：";
	    chat.appendChild(namespan);
	    var infospan = document.createElement('span');
	    infospan.innerText = info;
	    chat.appendChild(infospan);
	    dev.appendChild(chat);
	  }  
	    
	  function login(){
	      var date={"id":id,"type":"aa"};
	      var login = JSON.stringify(date);
	      socket.send(login);
	  }
	  
	  function sendMessage(){
		  var data = {"sender":id,"info":document.querySelector("#chatInput").value};
	      socket.send(JSON.stringify(data));
	  }
	  
  </script>
 </head>  
 <body> 
 	<div>
 		<div id="msg" class="chat">
 			<h3 class="head">当前接入：<span id="name"></span></h3>
 			<div id="responseText" style="width: 99%;height: 300px;overflow:scroll;">
 			</div>
		 	<div style="background-color:rgb(255,255,255);" >
			   <textarea id="chatInput" name="message" style="width: 80%;height: 120px;border:0;resize:none;"></textarea> 
			   <input style="margin:5px 15px" type="button" name="send" value="发送(S)" onclick="sendMessage()" /> 
		 	</div>
 		</div>
	 	<div id="phone" style="width: 45%;height: 300px;float:right">
	    	<img alt="" src="">
	 	</div>
 	</div>
 </body>
 <script type="text/javascript">
 	document.getElementById('chatInput').focus();
 </script>
</html>