<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>专席处理</title>
  <style type="text/css">
  	.chat{
  		width: 40%;float:left;
  		border-top-left-radius:10px;
		border-top-right-radius:10px;
  		border:1px solid;
  		background-color:rgb(245,245,245);
  		margin: 10px 45px;
  	}
  	.chat .head{
  	    background-color: rgb(23,144,237);
	    margin-top: 0;
	    border-top-left-radius:10px;
		border-top-right-radius:10px;
		height: 45px;
    	line-height: 45px;
	}
  </style> 
  <script type="text/javascript">  
	  var id = "PC";
	  function appendln(sender, info) {
	      var dev = document.getElementById('responseText');
	      var chat = document.createElement('div');
	      var namespan = document.createElement('span');
	      namespan.innerText = sender + "：";
	      chat.appendChild(namespan);
	      var infospan = document.createElement('span');
	      infospan.innerText = info;
	      chat.appendChild(infospan);
	      dev.appendChild(chat);
	  }
	
	  function sendMessage() {
		  socketSend('text',document.querySelector("#chatInput").value);
	  }
	
	  function socketAccept(data) {
	      document.querySelector("#name").innerText = data.id
	      if (data.type == 'img') {
	          document.querySelector("img").src = data.info;
	          appendln(data.id, "Img");
	      } else if(data.type == 'text'){
	          appendln(data.id, data.info);
	      }
	  }
	
	  function socketOpen() {
	      socketSend('sign',id);
	  }
	  
  </script>
  <script type="text/javascript" src="../const/comm.socket.js"></script> 
 </head>  
 <body> 
 	<div>
 		<div id="msg" class="chat">
 			<h3 class="head">当前接入：<span id="name"></span></h3>
 			<div id="responseText" style="width: 99%;height: 300px;overflow:scroll;">
 			</div>
		 	<div style="background-color:rgb(255,255,255);" >
			   <textarea id="chatInput" name="message" style="width: 80%;height: 120px;border:0;resize:none;"></textarea> 
			   <input style="margin:5px 15px" type="button" name="send" value="发送(S)" onclick="sendMessage()" /> 
		 	</div>
 		</div>
	 	<div id="phone" style="width: 45%;height: 300px;float:right">
	    	<img alt="" src="" style="width: 350px;height: 520px;">
	 	</div>
 	</div>
 </body>
 <script type="text/javascript">
 	document.getElementById('chatInput').focus();
 </script>
</html>